body {
  background-color: #251f47;
  padding: 0;
  margin: 0;
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-btn {
  font-size: 24px;
  border-radius: 50%;
  border-color: transparent;
}

.choice-btn {
  font-size: 24px;
  border-radius: 8px;
  border-color: transparent;
}

.flex-container {
  display: flex;
}

#left {
  flex-grow: 3;
}

#right {
  flex-grow: 1;
}