body {
  background-color: #5d707f;
  padding: 0;
  margin: 0;
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#reset-btn {
  border-radius: 8px;
  border-color: transparent;
}

.choice-btn {
  width: 25%;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.flex-container {
  display: flex;
  padding: 10px;
}

#left {
  flex-grow: 3;
}

#middle {
  flex-grow: 1;
}